PIHOLE_INTERFACE={{  ansible_default_ipv4.interface }}
IPV4_ADDRESS={{ ansible_default_ipv4.address }}/{{ (ansible_default_ipv4.address + '/' + ansible_default_ipv4.netmask) | ansible.utils.ipaddr('prefix') }}
IPV6_ADDRESS=
QUERY_LOGGING=true
INSTALL_WEB_SERVER=true
INSTALL_WEB_INTERFACE=true
LIGHTTPD_ENABLED=true
BLOCKING_ENABLED=true
WEBPASSWORD=113459eb7bb31bddee85ade5230d6ad5d8b2fb52879e00a84ff6ae1067a210d3
DNSMASQ_LISTENING=single
PIHOLE_DNS_1=1.1.1.1
DNS_FQDN_REQUIRED=true
DNS_BOGUS_PRIV=true
DNSSEC=false
CONDITIONAL_FORWARDING=false
TEMPERATUREUNIT=C
WEBUIBOXEDLAYOUT=boxed
WEBTHEME=default-auto
PIHOLE_DNS_2=8.8.8.8
CACHE_SIZE=10000